{% include 'recipes/partials/head.html' %}

<body>
   {%include 'recipes/partials/header.html' %}
    {%include 'recipes/partials/search.html' %}

    <main class="main-content-container" >
        <div class="main-content main-content-list container">
            <div class='recipe recipes-list-items'>
                <div class="recipes-cover">
                    <img src="https://via.placeholder.com/1280x720" alt="temporario">
                    </div>
                    <div class="recipe-title-container">
                        <h2 class='recipe-title'>
                            Lorem ipsum dolor, sit amet consectetur
                        </h2>
                    </div>
                    <div class="recipe-author">
                        <span class="recipe-author-item">
                            <i class="fas fa-user"></i>
                            Willams Junior
                        </span>
                        <span class="recipe-author-item">
                            <i class="fas fa-calendar-alt"></i>
                            26/06/2022 às 15:50
                        </span>
                        <span class="recipe-author-item">
                            <a href="/recipes/category/cafe-da-manha/">
                                <i class="fas fa-layer-group"></i>
                                <span>Café da manhã</span>
                            </a>
                        </span>
                    </div>
                    <div class="recipe-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In autem ipsam culpa, beatae atque excepturi libero</p>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>